<% include header.html %>
		<div class="col-md-8" id="book_list">
			<% if(list.length>0){%>
				<% for(var i=0,len=list.length;i<len;i++ ){ %>
					<div>
						<span>书号：</span>
						<span class="book_id" data-id="<%= list[i].bookList._id%>"><%=list[i].bookList.book_id%></span>
						<span>书名：</span>
						<span><%= list[i].bookList.book_name%></span>
						<span>订购数量：</span>
						<span class="num"><%= list[i].num%></span>
						<button class="btn btn-primary" data-from="<%= list[i].from %>" data-msg="<%= list[i]._id%>">收货</button>					
					</div>				
				<% } %>	
			<% }else{ %>
				<% include ../noInfo.html %>
			<% } %>
		</div>
	</div>
</div>
<script>
	$(function(){
		$("#book_list").on("click","button",function(){
			var $this=$(this);
			$.post("/manage/getBook.do",{
				_id:$this.siblings(".book_id").attr("data-id"),
				num:$this.siblings(".num").text(),
				position:$this.siblings(".position").val(),
				msg_id:$this.attr("data-msg")
			},function(data){
				console.log(data);
				window.location.reload();
			},"json");
		})
	})
</script>
<% include ../footer.html %>