<% include header.html %>
		<div class="col-md-8">
		<% if(list.length>0){%>


		
			<table class="table table-bordered">
		        <thead>
		        <% if(type===2){ %>
			        <tr>
			        	<th>出版社名</th>
			            <th>书号</th>
			            <th>书名</th>
			            <th>数量</th>
			            <th>操作</th>
			        </tr>
			        </thead>
			        <tbody>
				        <% for(var i=0,len=list.length;i<len;i++){ %>
					        <tr>		              
					            <th role="row"><%= list[i].from %></th>
					            <td class="book_id" data-id="<%= list[i].book_publish._id%>"><%=list[i].book_publish.book_id%></td>
					            <td><%= list[i].book_publish.book_name%></td>
					            <td class="num"><%= list[i].num%></td>
					            <td><a data-from="<%= list[i].from %>" data-msg="<%= list[i]._id%>" data-toggle="modal" data-target="#myModal" >收货</a></td>
					        </tr>
				        <% } %>		        	
			        </tbody>
		        <% } %>
		        
		        <% if(type===0){%>
					<tr>
						<th>借书证号</th>
			            <th>书号</th>
			            <th>书名</th>
			            <th>操作</th>
			        </tr>
			        </thead>
			        <tbody id="book_list">
				        <% for(var i=0,len=list.length;i<len;i++){ %>
					        <tr>	
					        	<th role="row" class="user_id" data-from="<%= list[i].from %>"><%= list[i].bid %></th>	              
					            <td class="book_id" data-id="<%= list[i].book_admin._id %>"><%=list[i].book_admin.book_id.book_id %></td>
					            <td><%= list[i].book_admin.book_id.book_name %></td>
					            <td><a data-from="<%= list[i].from %>" data-msg="<%= list[i]._id%>">出借</a><button class="i-btn btn btn-primary hided">通知借书人</button></td>
					        </tr>
				        <% } %>		        	
			        </tbody>
		        <% } %>
		      </table>
		<% }else{ %>
			<% include ../noInfo.html %>
		<% } %>
		</div>
	</div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">将新购的书放置到</h4>
      </div>
      <div class="modal-body">
        <form>
        	<div class="form-group">
        		<label for="book_position">位置</label>
        		<input type="text" id="book_position" placeholder="请输入该图书将存放的位置..." class="form-control">      
        	</div>
        	<button class="btn btn-primary" id="book-btn">确定</button>
        </form>
      </div>
     
    </div>
  </div>
</div>
<script>
	$(function(){
		$("#book_list").on("click","a",function(){
			var $this=$(this);
			$.post("/manage/sendBook.do",{
				_id:$this.parent().parent().find(".book_id").attr("data-id"),
				to:$this.parent().parent().find(".user_id").attr("data-from"),
				msg_id:$this.attr("data-msg")
			},function(data){
				if(data.status==="error"&&data.message==0){
					alert("图书存量不足，请向出版社添购书籍或者告知借书人解释失败");
					$this.siblings(".i-btn").show();
					$this.siblings(".i-btn").attr({
						"data-to":data.info.to,
						"data-book_admin":data.info.book_admin,
						"data-action":data.info.action,
						"data-from":data.info.from,
						"data-num":data.info.num
					});
				}else{
					window.location.reload();
				}
			},"json");
		});

		$("#book_list").on("click",".i-btn",function(){
			var $this=$(this);
			$.post("/manage/telUser.do",{
				to:$this.attr("data-to"),
				book_admin:$this.attr("data-book_admin"),
				action:$this.attr("data-action"),
				from:$this.attr("data-from"),
				num:$this.attr("data-num"),
				msg_id:$this.siblings("a").attr("data-msg")
			}),function(data){
				if(data.status==="ok"){
					window.location.reload();
				}
			}
		})
		var _id,num,msg_id;
		$('#myModal').on('shown.bs.modal',function(e){
			var $o=$(e.relatedTarget);
			msg_id=$o.attr("data-msg");
			num=$o.parent().parent().find(".num").text();
			_id=$o.parent().parent().find(".book_id").attr("data-id");
		});

		$("#book-btn").on("click",function(){
			$.post("/manage/getBook.do",{
				_id:_id,
				num:num,
				position:$("#book_position").val(),
				msg_id:msg_id
			},function(data){
				window.location.reload();
			},"json");
		});
	});
</script>
<% include ../footer.html %>