<ul class="nav nav-pills nav-stacked">
	<li role="presentation" <% if(mode&&mode==1){ %> class="active" <% } %>>
		<a href="/manage/bookList.do">库存图书</a>
	</li>
	<li role="presentation" <% if(mode&&mode==2){ %> class="active" <% } %>>
		<a href="/manage/publishList.do">添购图书</a>
	</li>
	<li role="presentation" <% if(mode&&mode==3){ %> class="active" <% } %>>
		<a href="/manage/userMessage.do">用户消息</a>
	</li>
	<li role="presentation" <% if(mode&&mode==4){ %> class="active" <% } %>>
		<a href="/manage/publishMessage.do">出版社消息</a>
	</li>
	<li role="presentation">
		<a href="/manage/layout.do">退出帐号</a>
	</li>
</ul>