<% include header.html %>
		<div class="col-md-8" id="book_list">
		<% if(list.length>0){%>
			<table class="table table-bordered">
		        <thead>
		          <tr>
		          <th>出版社名</th>
		            <th>书号</th>
		            <th>书名</th>
		            <th>操作</th>
		          </tr>
		        </thead>
		        <tbody>
		          <% for(var i=0,len=list.length;i<len;i++){ %>
		            <tr>
		            <th role="row"><%= list[i].book_publish %></th>
		              <td class="book_id" data-id="<%= list[i]._id %>"><%= list[i].book_id %></td>
		              <td><%= list[i].book_name %></td>
		              <td><input class="i-num" type="number" placeholder="0"><a data-publish="<%= list[i].book_publish %>">add</a><span class="txt"></span></td>
		            </tr>
		          <% } %>
		        </tbody>
		      </table>
		<% }else{ %>
				<% include ../noInfo.html %>
			<% } %>
		</div>
	</div>
</div>
<script>
	$(function(){
		$("#book_list").on("click","a",function(){

			var $this=$(this);

			var num=$this.siblings(".i-num").val();

			if(!num||+num<=0){
				return ;
			}
			$.post("/manage/addBook.do",{
				book_publish:$this.attr("data-publish"),
				book:$this.parent().parent().find(".book_id").attr("data-id"),
				num:num,
				bid:$this.parent().parent().find(".book_id").text()
			},function(data){
				if(data.status==="ok"){
					$this.siblings(".txt").text("成功订购!");
				}
			},"json");
		})
	})
</script>
<% include ../footer.html %>