<% include header.html %>
		<div class="col-md-8" id="book_list">
		<% if(list.length>0){%>
			<table class="table table-bordered">
		        <thead>
					<tr>
			            <th>书号</th>
			            <th>书名</th>
			            <th>操作</th>
			        </tr>
			        </thead>
			        <tbody id="book_list">
				        <% for(var i=0,len=list.length;i<len;i++){ %>
					        <tr>		              
					            <th role="row" class="book_id" data-id="<%= list[i].book_admin._id%>"><%=list[i].book_admin.book_id.book_id %></th>
					            <td><%= list[i].book_admin.book_id.book_name %></td>
					            <td><a data-msg="<%= list[i]._id%>">确定</a></td>
					        </tr>
				        <% } %>		        	
			        </tbody>
		      </table>
		      <% }else{ %>
				<% include ../noInfo.html %>
			<% } %>
		</div>
	</div>
</div>
<script>
	$(function(){
		$("#book_list").on("click","a",function(){
			var $this=$(this);
			$.post("/user/getBook.do",{
				book_id:$this.parent().parent().find(".book_id").attr("data-id"),
				book_name:$this.parent().parent().find(".user_id").text(),
				msg_id:$this.attr("data-msg")
			},function(data){
				console.log(data);
				window.location.reload();
			},"json");
		});
	});
</script>
<% include ../footer.html %>