<ul class="nav nav-pills nav-stacked">
	<li role="presentation" <% if(mode&&mode==1){ %> class="active" <% } %>>
		<a href="/user/main.do">个人信息</a>
	</li>
	<li role="presentation" <% if(mode&&mode==2){ %> class="active" <% } %>>
		<a href="/user/bookList.do">图书</a>
	</li>
	<li role="presentation" <% if(mode&&mode==3){ %> class="active" <% } %>>
		<a href="/user/message.do">消息</a>
	</li>
	<li role="presentation" <% if(mode&&mode==4){ %> class="active" <% } %>>
		<a href="/user/recordList.do">借书记录</a>
	</li>
	<li role="presentation">
		<a href="/user/layout.do">退出帐号</a>
	</li>
</ul>