<% include header.html %>
		<div class="col-md-8" id="book_list">
		<% if(list.length>0){%>
			<table class="table table-bordered">
		        <thead>
					<tr>
			            <th>书号</th>
			            <th>书名</th>
			            <th>借书时间</th>
			            <th>还书时间</th>
			            <th>操作</th>
			        </tr>
			        </thead>
			        <tbody id="book_list">
				        <% for(var i=0,len=list.length;i<len;i++){ %>
					        <tr>		              
					            <td><%= list[i].book_id.book_id.book_id %></td>
					            <td><%= list[i].book_id.book_id.book_name %></td>
					            <td><%= list[i].borrow_date %></td>
					            <td><%= list[i].return_date%></td>
					            <td><a data-record="<%= list[i]._id%>" data-id="<%= list[i].book_id._id %>">还书</a></td>
					        </tr>
				        <% } %>		        	
			        </tbody>
		      </table>
		     	<% }else{ %>
				<% include ../noInfo.html %>
			<% } %>
		</div>
	</div>
</div>
<script>
	$(function(){
		$("#book_list").on("click","a",function(){
			var $this=$(this);
			$.post("/user/returnBook.do",{
				book_id:$this.attr("data-id"),
				record_id:$this.attr("data-record")
			},function(data){
				console.log(data);
				window.location.reload();
			},"json");
		});
	});
</script>
<% include ../footer.html %>